.movie_box {
  background-color: #fbfbff;
  padding: 10px;
}

.Movie_card {
  display: inline-block;
  margin: 10px;
  box-shadow: 0 2px 2px #ccc;
  width: 20%;
  opacity: 0.7;
  z-index: 10;
}

.Movie_card:hover {
  opacity: 1;
  border: 2px solid #712b78;
  border-top-right-radius: 30px;
  background-color: white;
  z-index: 100;
}

.poster {
  height: 25%;
  width: 160px;
  margin-left: 7%;
}
.title{
  font-size: 20px;
  text-align: center;
}
p{
  font-style: italic;
  text-align: center;
}
.header{
  width: 100%;
  padding: 10px;
  background-color: #2a1c56;
}
h1{
  color: #ffea32;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
}
.content{
  padding: 20px;
  width: 100%;
  height: 50%;
  background: linear-gradient(to right, #2a1c56 1%,#712b78 20%,#712b78 20%,#dc74ae 58%,#c99ec4 100%);
}
.sidebar{
  float: right;
  width: 13%;
  height: 40%;
  padding: 50px 50px 50px 35px;;
  background: rgba(255,255,255,0.7);
  border-bottom-left-radius: 20px;
}
ul{
  list-style: persian;
  display: inline-block;
  width: 100%;
}
.option_link{
  text-decoration: none;
  color: #2a1c56;
}
.option_link:hover{
  font-weight: 800;
  text-decoration: double;
}
.footer{
  width: 100%;
  padding: 25px;
  background-color: #c99ec4;
}